*{
    font-family: 'TW Cen MT', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
body{
    margin: 0px;
    background-color: #0F172A;
    color: #ffffff;
    margin: 0;
}
/* Header */
.logo_header{
    place-items: center;
    display: grid;
    background: #232e3e;
}
.hiperlinks_header{
    place-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #1E293B;
}
.hiperlinks_header .hiperlink{
    border: 2px solid transparent;
}
.hiperlinks_header .hiperlink:hover{
    background-color: #ffffff30;
}
#logo_name{
    color:#ffffff;
    text-decoration: none;
    font-size: 50px;
    margin: 15px;
    margin-bottom: 0px;
}
#logo_name:hover{
    color:#3B82F6;
}
#logo_img{
    margin-top: 18px;
    margin-left: 25px;
}
#logo_img_DS{
    margin-top: 0px;
    margin-left: 25px;
}
.hiperlink{
    font-size: 50px;
    color: #ffffff;
    text-decoration: none;
}
.hiperlink:hover{
    color:#3B82F6;
}
/* Footer */
footer{
    background-color: #232e3e;
    place-items: center;
    display: grid;
    padding-bottom: 5px;
}
.footer-social-networks:hover{
    background-color: #ffffff30;
}
.footer-info > h3, p{
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

/* Index */
.index-article{
    margin: 20px;
    place-items: center;
    display: grid;
    overflow: hidden;
}
.slider-frame{
    width: 1009px;
	min-width: 100%;
    height: auto;
    overflow: hidden;
}
.slider-frame ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide 8s infinite;
}
.slider-frame li {
	width: 100%;
	list-style: none;
}
.slider-frame img {
	width: 100%;
}
@keyframes slide {
    0% {margin-left: 0;}
    45% {margin-left: 0;}

    50% {margin-left: -100%;}
    95% {margin-left: -100%;}
}

.index_main{
    place-items: center;
    display: grid;
    flex-direction: row;
    align-items: center;
}
.summary_info_code_whisperers{
    text-align: center;
    max-width: 75%;
}
.summary_info_code_whisperers h3{
    font-size: 40px;
    margin: 0px;
    margin-top: 30px;
}
.summary_info_code_whisperers p{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}